@page "/Metadata/Companies"
@using LANCommander.Server.Data
@using Microsoft.EntityFrameworkCore;
@using System.Web
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]
@inject DatabaseServiceFactory DatabaseServiceFactory
@inject NavigationManager NavigationManager
@inject IMessageService MessageService
@inject ILogger<Index> Logger

<PageHeader Title="Companies" />

<DataTable
    TItem="Company"
    LoadData="LoadData"
    Size="@TableSize.Small"
    Responsive>
    <RightToolbar>
        <Button OnClick="() => OpenEdit(null)" Type="@ButtonType.Primary">Add Company</Button>
    </RightToolbar>
    <Columns>
        <BoundDataColumn Property="c => c.Name" Sortable />
        <BoundDataColumn Property="c => c.CreatedOn" Format="MM/dd/yyyy hh:mm tt" Sortable />
        <BoundDataColumn Property="c => c.CreatedBy != null ? c.CreatedBy.UserName : String.Empty" Title="Created By" Sortable />
        <BoundDataColumn Property="c => c.UpdatedOn" Format="MM/dd/yyyy hh:mm tt" Sortable />
        <BoundDataColumn Property="c => c.UpdatedBy != null ? c.UpdatedBy.UserName : String.Empty" Title="Updated By" Sortable />
        <BoundDataColumn Property="c => c.DevelopedGames != null ? c.DevelopedGames.Count : 0" Title="Developed Games" Sortable />
        <BoundDataColumn Property="c => c.PublishedGames != null ? c.PublishedGames.Count : 0" Title="Published Games" Sortable />
        <DataActions>
            <Popconfirm OnConfirm="() => Delete(context)" Title="Are you sure you want to delete this company?">
                <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Close" Danger />
            </Popconfirm>
        </DataActions>
    </Columns>
</DataTable>

<Modal Title="@(CompanyContext.Id == Guid.Empty ? "New Company" : "Edit Company")"
    @bind-Visible="@EditCompanyVisible"
    OnOk="UpdateOrAdd"
    OnCancel="CloseEdit">
    <Form Model="@CompanyContext">
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" />
        </FormItem>
    </Form>
</Modal>

 @code {
    bool EditCompanyVisible = false;
    Company CompanyContext = new Company();

    async Task<PaginatedResults<Company>> LoadData(int pageIndex, int pageSize, string search)
    {
        var fuzzySearch = search.ToLower().Trim();

        using (var companyService = DatabaseServiceFactory.Create<CompanyService>())
        {
            return await companyService
                .Include(c => c.DevelopedGames)
                .Include(c => c.PublishedGames)
                .Include(c => c.CreatedBy)
                .Include(c => c.UpdatedBy)
                .SortBy(c => c.Name)
                .PaginateAsync(c => c.Name.ToLower().Contains(fuzzySearch),
                    pageIndex,
                    pageSize);
        }
    }

    async Task UpdateOrAdd()
    {
        try
        {
            using (var companyService = DatabaseServiceFactory.Create<CompanyService>())
            {
                if (CompanyContext.Id == Guid.Empty)
                {
                    await companyService.AddMissingAsync(x => x.Name == CompanyContext.Name, CompanyContext);

                    MessageService.Success($"{CompanyContext.Name} was added!");
                }
                else
                {
                    await companyService.UpdateAsync(CompanyContext);

                    MessageService.Success($"{CompanyContext.Name} was updated!");
                }
            }

            // await LoadData();
        }
        catch (Exception ex)
        {
            if (CompanyContext.Id == Guid.Empty)
                MessageService.Error($"Could not add {CompanyContext.Name}!");
            else
                MessageService.Error($"Could not update {CompanyContext.Name}!");

            Logger.LogError(ex, $"Could not update/add {CompanyContext.Name}!");
        }

        await CloseEdit();
    }

    async Task OpenEdit(Company company)
    {
        if (company != null)
            CompanyContext = company;

        EditCompanyVisible = true;

        await InvokeAsync(StateHasChanged);
    }

    async Task CloseEdit()
    {
        EditCompanyVisible = false;

        await InvokeAsync(StateHasChanged);
    }

    async Task Delete(Company Company)
    {
        using (var companyService = DatabaseServiceFactory.Create<CompanyService>())
        {
            await companyService.DeleteAsync(Company);
        }

        // await LoadData();
    }
}
