@page "/Metadata/Platforms"
@using Microsoft.EntityFrameworkCore;
@using LANCommander.Server.Data
@using System.Web
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]
@inject DatabaseServiceFactory DatabaseServiceFactory
@inject IMessageService MessageService
@inject ILogger<Index> Logger

<PageHeader Title="Platforms" />

<DataTable
    TItem="Platform"
    Size="@TableSize.Small"
    Searchable
    SearchProperty="p => p.Name">
    <RightToolbar>
        <Button OnClick="() => OpenEdit(null)" Type="@ButtonType.Primary">Add Platform</Button>
    </RightToolbar>
    <Columns>
        <BoundDataColumn Property="p => p.Name" Sortable DefaultSortOrder="SortDirection.Ascending" />
        <BoundDataColumn Property="p => p.Games.Count" Sortable Title="Games" Include="Games" />
        <BoundDataColumn Property="p => p.CreatedOn" Format="MM/dd/yyyy hh:mm tt" Sortable />
        <BoundDataColumn Property="p => p.CreatedBy != null ? p.CreatedBy.UserName : String.Empty" Title="Created By" Sortable Include="CreatedBy" />
        <BoundDataColumn Property="p => p.UpdatedOn" Format="MM/dd/yyyy hh:mm tt" Sortable />
        <BoundDataColumn Property="p => p.UpdatedBy != null ? p.UpdatedBy.UserName : String.Empty" Title="Updated By" Sortable Include="UpdatedBy" />
        <DataActions>
            <a href="@($"/Metadata/Platforms/{context.Id}")" class="ant-btn ant-btn-primary">Edit</a>
            <Popconfirm OnConfirm="() => Delete(context)" Title="Are you sure you want to delete this platform?">
                <Button Icon="@IconType.Outline.Close" Type="@ButtonType.Text" Danger />
            </Popconfirm>
        </DataActions>
    </Columns>
</DataTable>

<Modal Title="@(PlatformContext.Id == Guid.Empty ? "New Platform" : "Edit Platform")"
    @bind-Visible="@EditPlatformVisible"
    OnOk="UpdateOrAdd"
    OnCancel="CloseEdit">
    <Form Model="@PlatformContext">
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" />
        </FormItem>
    </Form>
</Modal>

 @code {
    IEnumerable<Platform> Platforms { get; set; } = new List<Platform>();

    bool Loading = true;

    bool EditPlatformVisible = false;
    Platform PlatformContext = new();

    protected override async Task OnInitializedAsync()
    {
        Loading = false;
    }

    async Task UpdateOrAdd()
    {
        try
        {
            using (var platformService = DatabaseServiceFactory.Create<PlatformService>())
            {
                if (PlatformContext.Id == Guid.Empty)
                {
                    await platformService.AddMissingAsync(x => x.Name == PlatformContext.Name, PlatformContext);

                    MessageService.Success($"{PlatformContext.Name} was added!");
                }
                else
                {
                    await platformService.UpdateAsync(PlatformContext);

                    MessageService.Success($"{PlatformContext.Name} was updated!");
                }
            }
        }
        catch (Exception ex)
        {
            if (PlatformContext.Id == Guid.Empty)
                MessageService.Error($"Could not add {PlatformContext.Name}!");
            else
                MessageService.Error($"Could not update {PlatformContext.Name}!");

            Logger.LogError(ex, $"Could not add/update {PlatformContext.Name}!");
        }

        await CloseEdit();
    }

    async Task OpenEdit(Platform platform)
    {
        if (platform != null)
            PlatformContext = platform;

        EditPlatformVisible = true;

        await InvokeAsync(StateHasChanged);
    }

    async Task CloseEdit()
    {
        EditPlatformVisible = false;

        await InvokeAsync(StateHasChanged);
    }

    async Task Delete(Platform Platform)
    {
        Platforms = new List<Platform>();

        Loading = true;

        using (var platformService = DatabaseServiceFactory.Create<PlatformService>())
        {
            await platformService.DeleteAsync(Platform);
        }

        Loading = false;
    }
}
