@using LANCommander.Data.Enums
@using LANCommander.Data.Models
@using LANCommander.Extensions;

<Space Direction="DirectionVHType.Vertical" Size="@("large")" Style="width: 100%">
    <SpaceItem>
        <Table TItem="ServerConsole" DataSource="@Value" HidePagination="true">
            <PropertyColumn Property="m => m.Name">
                <Input Type="text" @bind-Value="context.Name" />
            </PropertyColumn>
            <PropertyColumn Property="m => m.Path">
                <Input Type="text" @bind-Value="context.Path" />
            </PropertyColumn>
            <ActionColumn>
                <Space Style="display: flex; justify-content: end">
                    <SpaceItem>
                        <Button OnClick="() => RemoveConsole(context)" Type="@ButtonType.Text" Danger Icon="@IconType.Outline.Close" />
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    </SpaceItem>

    <SpaceItem>
        <GridRow Justify="end">
            <GridCol>
                <Button OnClick="AddConsole" Type="@ButtonType.Primary">Add Console</Button>
            </GridCol>
        </GridRow>
    </SpaceItem>
</Space>

@code {
    [Parameter] public ICollection<ServerConsole> Value { get; set; }
    [Parameter] public EventCallback<ICollection<ServerConsole>> ValueChanged { get; set; }
    [Parameter] public Guid ServerId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Value == null)
            Value = new List<ServerConsole>();

        if (ValueChanged.HasDelegate)
            await ValueChanged.InvokeAsync(Value);

        StateHasChanged();
    }

    private async Task AddConsole()
    {
        if (Value == null)
            Value = new List<ServerConsole>();

        Value.Add(new ServerConsole
        {
            ServerId = ServerId
        });

        if (ValueChanged.HasDelegate)
            await ValueChanged.InvokeAsync(Value);

        StateHasChanged();
    }

    private async Task RemoveConsole(ServerConsole console)
    {
        Value.Remove(console);

        if (ValueChanged.HasDelegate)
            await ValueChanged.InvokeAsync(Value);

        StateHasChanged();
    }
}
