@using LANCommander.Data.Enums
@using LANCommander.Data.Models

<Space Direction="DirectionVHType.Vertical" Size="@("large")" Style="width: 100%">
    <SpaceItem>
        <Table TItem="MultiplayerMode" DataSource="@Game.MultiplayerModes" HidePagination="true">
            <PropertyColumn Property="m => m.Type">
                <Select @bind-Value="context.Type" TItem="MultiplayerType" TItemValue="MultiplayerType" DataSource="Enum.GetValues<MultiplayerType>()" />
            </PropertyColumn>
            <PropertyColumn Property="m => m.MinPlayers">
                <AntDesign.InputNumber @bind-Value="context.MinPlayers" DefaultValue="2" Min="2" />
            </PropertyColumn>
            <PropertyColumn Property="m => m.MaxPlayers">
                <AntDesign.InputNumber @bind-Value="context.MaxPlayers" DefaultValue="2" Min="2" />
            </PropertyColumn>
            <PropertyColumn Property="m => m.Description">
                <Input Type="text" @bind-Value="context.Description" />
            </PropertyColumn>
            <ActionColumn>
                <Space Style="display: flex; justify-content: end">
                    <SpaceItem>
                        <Button OnClick="() => RemoveMode(context)" Type="@ButtonType.Text" Danger Icon="@IconType.Outline.Close" />
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    </SpaceItem>

    <SpaceItem>
        <GridRow Justify="end">
            <GridCol>
                <Button OnClick="AddMode" Type="@ButtonType.Primary">Add Mode</Button>
            </GridCol>
        </GridRow>
    </SpaceItem>
</Space>

@code {
    [Parameter] public Game Game { get; set; }

    private void AddMode()
    {
        if (Game.MultiplayerModes == null)
            Game.MultiplayerModes = new List<MultiplayerMode>();

        Game.MultiplayerModes.Add(new MultiplayerMode());
    }

    private void RemoveMode(MultiplayerMode mode)
    {
        Game.MultiplayerModes.Remove(mode);
    }
}
