@using LANCommander.Launcher.Services
@inject LocalizationService LocalizationService

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(UI.MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>@LocalizationService.GetString("NotFound")</PageTitle>
        <LayoutView Layout="@typeof(UI.MainLayout)">
            <p role="alert">@LocalizationService.GetString("NotFoundMessage")</p>
        </LayoutView>
    </NotFound>
</Router>