@model LANCommander.Data.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Edit Game
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <form asp-action="Edit" class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="mb-3">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="SortTitle" class="control-label"></label>
                                    <input asp-for="SortTitle" class="form-control" />
                                    <span asp-validation-for="SortTitle" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ReleasedOn" class="control-label"></label>
                                    <input asp-for="ReleasedOn" class="form-control" />
                                    <span asp-validation-for="ReleasedOn" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="Id" />
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <a asp-action="Index" class="btn btn-link">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-auto">Save</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12">
                <div class="card">
                    @if (Model.Archives != null && Model.Archives.Count > 0)
                    {
                        <div class="card-body">
                            <h3 class="card-title">Archives</h3>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-vcenter table-mobile-md card-table">
                                <thead>
                                    <tr>
                                        <th>Version</th>
                                        <th>Uploaded By</th>
                                        <th>Uploaded On</th>
                                        <th>Size</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var archive in Model.Archives.OrderByDescending(a => a.CreatedOn))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(m => archive.Version)</td>
                                            <td>@Html.DisplayFor(m => archive.CreatedBy.UserName)</td>
                                            <td>@Html.DisplayFor(m => archive.CreatedOn)</td>
                                            <td>@ByteSizeLib.ByteSize.FromBytes(new FileInfo(System.IO.Path.Combine("Upload", archive.ObjectKey)).Length)</td>
                                            <td>
                                                <div class="btn-list flex-nowrap">
                                                    <a asp-action="Download" asp-controller="Archives" asp-route-id="@archive.Id" class="btn">Download</a>
                                                    <a asp-action="Delete" asp-controller="Archives" asp-route-id="@archive.Id" class="btn btn-danger">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="empty">
                            <p class="empty-title">No Archives</p>
                            <p class="empty-subtitle text-muted">There have been no archives uploaded for this game.</p>
                            <div class="empty-action">
                                <a asp-action="Add" asp-controller="Archives" asp-route-id="@Model.Id" class="btn btn-primary">Upload Archive</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
