@inject MultiplayerModeService MultiplayerModeService
@inject IMessageService MessageService
@inject ILogger<MultiplayerModeEditor> Logger

 <Flex Direction="FlexDirection.Vertical" Gap="FlexGap.Large">
    <Table TItem="MultiplayerMode" DataSource="@_multiplayerModes" HidePagination="true" Responsive>
        <PropertyColumn Property="m => m.Type">
            <Select @bind-Value="context.Type" TItem="MultiplayerType" TItemValue="MultiplayerType" DataSource="Enum.GetValues<MultiplayerType>()">
                <LabelTemplate Context="Value">@Value.GetDisplayName()</LabelTemplate>
                <ItemTemplate Context="Value">@Value.GetDisplayName()</ItemTemplate>
            </Select>
        </PropertyColumn>
        <PropertyColumn Property="m => m.MinPlayers" Title="Min Players">
            <AntDesign.InputNumber @bind-Value="context.MinPlayers" DefaultValue="2" Min="2" />
        </PropertyColumn>
        <PropertyColumn Property="m => m.MaxPlayers" Title="Max Players">
            <AntDesign.InputNumber @bind-Value="context.MaxPlayers" DefaultValue="2" Min="2" />
        </PropertyColumn>
        <PropertyColumn Property="m => m.NetworkProtocol" Title="Protocol">
            <Select @bind-Value="@context.NetworkProtocol" TItem="NetworkProtocol" TItemValue="NetworkProtocol" DataSource="Enum.GetValues<NetworkProtocol>()">
                <LabelTemplate Context="Value">@Value.GetDisplayName()</LabelTemplate>
                <ItemTemplate Context="Value">@Value.GetDisplayName()</ItemTemplate>
            </Select>
        </PropertyColumn>
        <PropertyColumn Property="m => m.Description">
            <Input Type="InputType.Text" @bind-Value="context.Description" />
        </PropertyColumn>
        <ActionColumn>
            <Flex Gap="FlexGap.Small" Justify="FlexJustify.End">
                <Button OnClick="() => RemoveMode(context)" Type="@ButtonType.Text" Danger Icon="@IconType.Outline.Close"/>
            </Flex>
        </ActionColumn>
    </Table>

    <Flex Justify="FlexJustify.End">
        <Button OnClick="AddMode" Type="@ButtonType.Primary">Add Mode</Button>
    </Flex>
</Flex>

@code {
    [CascadingParameter(Name = "GameId")] public Guid GameId { get; set; }

    ICollection<MultiplayerMode> _multiplayerModes = new List<MultiplayerMode>();

    protected override async Task OnInitializedAsync()
    {
        await LoadMultiplayerModes();
    }

    async Task LoadMultiplayerModes()
    {
        _multiplayerModes = await MultiplayerModeService.GetAsync(mm => mm.GameId == GameId);
    }
    
    async Task AddMode()
    {
        _multiplayerModes.Add(new MultiplayerMode
        {
            GameId = GameId,
        });
    }

    async Task RemoveMode(MultiplayerMode mode)
    {
        if (mode.Id != Guid.Empty)
            await MultiplayerModeService.DeleteAsync(mode);
        
        _multiplayerModes.Remove(mode);
    }

    public async Task Save()
    {
        try
        {
            foreach (var mode in _multiplayerModes)
            {
                if (mode.Id == Guid.Empty)
                    await MultiplayerModeService.AddAsync(mode);
                else
                    await MultiplayerModeService.UpdateAsync(mode);
            }

            MessageService.SuccessAsync("Multiplayer modes updated!");
        }
        catch (Exception ex)
        {
            MessageService.ErrorAsync("Could not save multiplayer modes!");
            Logger.LogError(ex, "Could not update multiplayer modes!");
        }
        
        await LoadMultiplayerModes();
    }
}
