@page "/FirstTimeSetup/Administrator"
@layout FirstTimeSetupLayout
@inject RoleService RoleService
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject IMessageService MessageService
@inject ILogger<Index> Logger

<Form Model="@Model" Loading="Loading" OnFinish="CreateAdministratorUser" Layout="@FormLayout.Vertical">
    <FormItem>
        To get started, you will need to create an administrator user.
    </FormItem>
    <FormItem Label="Username">
        <Input @bind-Value="@context.Username" />
    </FormItem>
    <FormItem Label="Password">
        <InputPassword @bind-Value="@context.Password" />
    </FormItem>
    <FormItem Label="Confirm Password">
        <InputPassword @bind-Value="@context.PasswordConfirm" />
    </FormItem>
    <FormItem>
        <GridRow Justify="end" Style="margin-top: 16px;">
            <GridCol>
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    Create
                </Button>
            </GridCol>
        </GridRow>
    </FormItem>
</Form>

@code {
    [CascadingParameter]
    FirstTimeSetupLayout Layout { get; set; }

    FirstTimeSetupModel Model = new FirstTimeSetupModel();

    bool Loading = false;

    protected override async Task OnInitializedAsync()
    {
        await Layout.ChangeCurrentStep(FirstTimeSetupStep.Administrator);
    }

    async Task CreateAdministratorUser()
    {
        Loading = true;
        StateHasChanged();
        await Task.Yield();

        try
        {
            var role = await RoleService.Get("Administrator");

            if (role == null)
                await RoleService.Add(new Role
                {
                    Name = "Administrator"
                });

            var administrators = await RoleService.GetUsers("Administrator");

            if (administrators != null && administrators.Any())
                NavigationManager.NavigateTo("/");
            else
            {
                var user = Activator.CreateInstance<User>();

                user.Approved = true;
                user.ApprovedOn = DateTime.Now;
                user.UserName = Model.Username;

                user = await UserService.Add(user);

                if (user != null)
                {
                    await UserService.ChangePassword(user, Model.Password);
                    await UserService.AddToRole(user, "Administrator");

                    Logger?.LogInformation("Administrator created a new account with password.");

                    await MessageService.Success("Setup completed! Redirecting...", 5);

                    Loading = false;

                    NavigationManager.NavigateTo("/");
                }
            }
        }
        catch (Exception ex)
        {
            Logger?.LogError(ex, "Could not create administrator");
            MessageService.Error($"Could not create administrator: {ex.Message}", 10);
        }

        Loading = false;
    }
}
