@page "/Metadata/Tags"
@using Microsoft.EntityFrameworkCore;
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]
@inject DatabaseServiceFactory DatabaseServiceFactory
@inject NavigationManager NavigationManager
@inject IMessageService MessageService
@inject ILogger<Index> Logger

<PageHeader Title="Tags">
    <PageHeaderExtra>
        <Space Direction="DirectionVHType.Horizontal">
            <SpaceItem>
                <Search Placeholder="Search" @bind-Value="Search" BindOnInput DebounceMilliseconds="150" OnChange="() => LoadData()" />
            </SpaceItem>
            <SpaceItem>
                <Button OnClick="() => OpenEdit(null)" Type="@ButtonType.Primary">Add Tag</Button>
            </SpaceItem>
        </Space>
    </PageHeaderExtra>
</PageHeader>

<TableColumnPicker @ref="Picker" Key="Tags" @bind-Visible="ColumnPickerVisible" />

<Table TItem="Data.Models.Tag" DataSource="@Tags" Loading="@Loading" PageSize="25" Responsive>
    <PropertyColumn Property="c => c.Name" Sortable Hidden="@(Picker.IsColumnHidden("Name"))" />
    <PropertyColumn Property="c => c.CreatedOn" Format="MM/dd/yyyy hh:mm tt" Sortable Hidden="@(Picker.IsColumnHidden("Created On"))" />
    <PropertyColumn Property="c => c.CreatedBy != null ? c.CreatedBy.UserName : String.Empty" Title="Created By" Sortable Hidden="@(Picker.IsColumnHidden("Created By"))" />
    <PropertyColumn Property="c => c.UpdatedOn" Format="MM/dd/yyyy hh:mm tt" Sortable Hidden="@(Picker.IsColumnHidden("Updated On", false))" />
    <PropertyColumn Property="c => c.UpdatedBy != null ? c.UpdatedBy.UserName : String.Empty" Title="Updated By" Sortable Hidden="@(Picker.IsColumnHidden("Updated By"))" />
    <PropertyColumn Property="c => c.Games != null ? c.Games.Count : 0" Title="Games" Sortable Hidden="@(Picker.IsColumnHidden("Games"))" />
    <ActionColumn Title="" Style="text-align: right; white-space: nowrap">
        <TitleTemplate>
            <div style="text-align: right">
                <Button Icon="@IconType.Outline.Edit" Type="@ButtonType.Text" OnClick="() => OpenColumnPicker()" />
            </div>
        </TitleTemplate>
        <ChildContent>
            <Space Direction="DirectionVHType.Horizontal">
                <SpaceItem>
                    <Button Icon="@IconType.Outline.Edit" Type="@ButtonType.Text" OnClick="() => OpenEdit(context)" />
                </SpaceItem>
                <SpaceItem>
                    <Popconfirm OnConfirm="() => Delete(context)" Title="Are you sure you want to delete this Tag?">
                        <Button Icon="@IconType.Outline.Close" Type="@ButtonType.Text" Danger />
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </ChildContent>
    </ActionColumn>
</Table>

<Modal Title="@(TagContext.Id == Guid.Empty ? "New Tag" : "Edit Tag")"
    @bind-Visible="@EditTagVisible"
    OnOk="UpdateOrAdd"
    OnCancel="CloseEdit">
    <Form Model="@TagContext">
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" />
        </FormItem>
    </Form>
</Modal>

 @code {
    IEnumerable<Data.Models.Tag> Tags { get; set; } = new List<Data.Models.Tag>();

    bool Loading = true;

    string Search = "";

    TableColumnPicker Picker;
    bool ColumnPickerVisible = false;

    bool EditTagVisible = false;
    Data.Models.Tag TagContext = new Data.Models.Tag();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            LoadData();

            Loading = false;

            StateHasChanged();
        }
    }

    async Task LoadData()
    {
        var fuzzySearch = Search.ToLower().Trim();

        using (var tagService = DatabaseServiceFactory.Create<TagService>())
        {
            Tags = await tagService.SortBy(t => t.Name).GetAsync(t => t.Name.ToLower().Contains(fuzzySearch));
        }
    }

    async Task UpdateOrAdd()
    {
        try
        {
            using (var tagService = DatabaseServiceFactory.Create<TagService>())
            {
                if (TagContext.Id == Guid.Empty)
                {
                    await tagService.AddMissingAsync(x => x.Name == TagContext.Name, TagContext);

                    MessageService.Success($"{TagContext.Name} was added!");
                }
                else
                {
                    await tagService.UpdateAsync(TagContext);

                    MessageService.Success($"{TagContext.Name} was updated!");
                }
            }

            await LoadData();
        }
        catch (Exception ex)
        {
            if (TagContext.Id == Guid.Empty)
                MessageService.Error($"Could not add {TagContext.Name}!");
            else
                MessageService.Error($"Could not update {TagContext.Name}!");

            Logger.LogError(ex, $"Could not update/add {TagContext.Name}!");
        }

        await CloseEdit();
    }

    async Task OpenEdit(Data.Models.Tag tag)
    {
        if (tag != null)
            TagContext = tag;

        EditTagVisible = true;

        await InvokeAsync(StateHasChanged);
    }

    async Task CloseEdit()
    {
        EditTagVisible = false;

        await InvokeAsync(StateHasChanged);
    }

    async Task Delete(Data.Models.Tag Tag)
    {
        Tags = new List<Data.Models.Tag>();

        Loading = true;

        using (var tagService = DatabaseServiceFactory.Create<TagService>())
        {
            await tagService.DeleteAsync(Tag);
        }

        await LoadData();

        Loading = false;
    }

    async Task OpenColumnPicker()
    {
        ColumnPickerVisible = true;
    }

    async Task CloseColumnPicker()
    {
        ColumnPickerVisible = false;
    }
}
