@page "/Metadata/Tags"
@using Microsoft.EntityFrameworkCore;
@using LANCommander.Server.Data
@using System.Web
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]
@inject DatabaseServiceFactory DatabaseServiceFactory
@inject NavigationManager NavigationManager
@inject IMessageService MessageService
@inject ILogger<Index> Logger

<PageHeader Title="Tags" />

<DataTable
    TItem="Data.Models.Tag"
    Size="@TableSize.Small">
    <RightToolbar>
        <Button OnClick="() => OpenEdit(null)" Type="@ButtonType.Primary">Add Tag</Button>
    </RightToolbar>
    <Columns>
        <BoundDataColumn Property="t => t.Name" Sortable DefaultSortOrder="SortDirection.Ascending" />
        <BoundDataColumn Property="t => t.Games.Count" Sortable Title="Games" Include="Games" />
        <BoundDataColumn Property="t => t.CreatedOn" Format="MM/dd/yyyy hh:mm tt" Sortable />
        <BoundDataColumn Property="t => t.CreatedBy != null ? t.CreatedBy.UserName : String.Empty" Title="Created By" Sortable Include="CreatedBy" />
        <BoundDataColumn Property="t => t.UpdatedOn" Format="MM/dd/yyyy hh:mm tt" Sortable />
        <BoundDataColumn Property="t => t.UpdatedBy != null ? t.UpdatedBy.UserName : String.Empty" Title="Updated By" Sortable Include="UpdatedBy" />
        <DataActions>
            <a href="@($"/Metadata/Tags/{context.Id}")" class="ant-btn ant-btn-primary">Edit</a>
            <Popconfirm OnConfirm="() => Delete(context)" Title="Are you sure you want to delete this tag?">
                <Button Icon="@IconType.Outline.Close" Type="@ButtonType.Text" Danger />
            </Popconfirm>
        </DataActions>
    </Columns>
</DataTable>

<Modal Title="@(TagContext.Id == Guid.Empty ? "New Tag" : "Edit Tag")"
    @bind-Visible="@EditTagVisible"
    OnOk="UpdateOrAdd"
    OnCancel="CloseEdit">
    <Form Model="@TagContext">
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" />
        </FormItem>
    </Form>
</Modal>

 @code {
    bool Loading = true;

    bool EditTagVisible = false;
    Data.Models.Tag TagContext = new();

    protected override async Task OnInitializedAsync()
    {
        Loading = false;
    }
    
    async Task UpdateOrAdd()
    {
        try
        {
            using (var tagService = DatabaseServiceFactory.Create<TagService>())
            {
                if (TagContext.Id == Guid.Empty)
                {
                    await tagService.AddMissingAsync(x => x.Name == TagContext.Name, TagContext);

                    MessageService.Success($"{TagContext.Name} was added!");
                }
                else
                {
                    await tagService.UpdateAsync(TagContext);

                    MessageService.Success($"{TagContext.Name} was updated!");
                }
            }
        }
        catch (Exception ex)
        {
            if (TagContext.Id == Guid.Empty)
                MessageService.Error($"Could not add {TagContext.Name}!");
            else
                MessageService.Error($"Could not update {TagContext.Name}!");

            Logger.LogError(ex, $"Could not update/add {TagContext.Name}!");
        }

        await CloseEdit();
    }

    async Task OpenEdit(Data.Models.Tag tag)
    {
        if (tag != null)
            TagContext = tag;

        EditTagVisible = true;

        await InvokeAsync(StateHasChanged);
    }

    async Task CloseEdit()
    {
        EditTagVisible = false;

        await InvokeAsync(StateHasChanged);
    }

    async Task Delete(Data.Models.Tag Tag)
    {
        Loading = true;

        using (var tagService = DatabaseServiceFactory.Create<TagService>())
        {
            await tagService.DeleteAsync(Tag);
        }

        Loading = false;
    }
}
