@inject WindowService WindowService

<Space Direction="@DirectionVHType.Horizontal">
    <SpaceItem Class="appbar-draggable-titlebar" >
        <div @onmousedown="() => WindowService.StartDragWindow()" @onmouseup="() => WindowService.StopDragWindow()">

        </div>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.VerticalAlignBottom" OnClick="MinimizeApp" />
    </SpaceItem>
    <SpaceItem>
        @if (WindowService.IsMaximized)
        {
            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Border" OnClick="ToggleMaximize" />
        }
        else
        {
            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Border" OnClick="ToggleMaximize" />
        }
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Close" OnClick="CloseApp" />
    </SpaceItem>
</Space>

@code {
    void DragWindow()
    {
        //WindowService.DragWindow();
    }

    void MinimizeApp()
    {
        WindowService.Minimize();
    }

    void ToggleMaximize()
    {
        WindowService.ToggleMaximize();

        StateHasChanged();
    }

    void CloseApp()
    {
        WindowService.Close();
    }
}