@using LANCommander.Client.Models
@inject WindowService WindowService
@inject ProfileService ProfileService

<Space Direction="@DirectionVHType.Horizontal">
    <SpaceItem Class="appbar-draggable-titlebar" >
        <div @onmousedown="() => WindowService.StartDragWindow()" @onmouseup="() => WindowService.StopDragWindow()">

        </div>
    </SpaceItem>

    @if (Settings != null && Settings.Profile != null && ProfileService.IsAuthenticated())
    {
        <SpaceItem>
            <Button Type="@ButtonType.Primary">
                <img src="data:base64,@(Settings.Profile.Avatar)" />
                @Settings.Profile.Alias
            </Button>
        </SpaceItem>
    }

    <SpaceItem>
        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.VerticalAlignBottom" OnClick="MinimizeApp" />
    </SpaceItem>
    <SpaceItem>
        @if (WindowService.IsMaximized)
        {
            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Border" OnClick="ToggleMaximize" />
        }
        else
        {
            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Border" OnClick="ToggleMaximize" />
        }
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Close" OnClick="CloseApp" />
    </SpaceItem>
</Space>

@code {
    Settings Settings = null;

    protected override async Task OnInitializedAsync()
    {
        Settings = SettingService.GetSettings();
    }

    void DragWindow()
    {
        //WindowService.DragWindow();
    }

    void MinimizeApp()
    {
        WindowService.Minimize();
    }

    void ToggleMaximize()
    {
        WindowService.ToggleMaximize();

        StateHasChanged();
    }

    void CloseApp()
    {
        WindowService.Close();
    }
}