@using LANCommander.Client.Models
@inject ImportService ImportService
@inject ProfileService ProfileService
@inject IMessageService MessageService
@inject NavigationManager NavigationManager

<Space Direction="@DirectionVHType.Horizontal" Class="appbar">
    <SpaceItem Class="appbar-draggable-titlebar" >
        <div>

        </div>
    </SpaceItem>

    <SpaceItem>
        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Sync" OnClick="Import" Loading="@Importing" />
    </SpaceItem>

    @if (Settings != null && Settings.Profile != null && ProfileService.IsAuthenticated())
    {
        <SpaceItem>
            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem OnClick="Logout">
                            Logout
                        </MenuItem>
                    </Menu>
                </Overlay>

                <ChildContent>
                    <Button Type="@ButtonType.Primary" Class="appbar-profile-button">
                        <img src="data:image/png;base64,@(Settings.Profile.Avatar)" />
                        @Settings.Profile.Alias
                    </Button>
                </ChildContent>
            </Dropdown>

        </SpaceItem>
    }

    <SpaceItem>
        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.VerticalAlignBottom" OnClick="MinimizeApp" />
    </SpaceItem>
    <SpaceItem>
        @if (true)
        {
            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Border" OnClick="ToggleMaximize" />
        }
        else
        {
            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Border" OnClick="ToggleMaximize" />
        }
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Close" OnClick="CloseApp" />
    </SpaceItem>
</Space>

@code {
    Settings Settings = null;

    bool Importing = false;

    protected override async Task OnInitializedAsync()
    {
        Settings = SettingService.GetSettings();
    }

    void DragWindow()
    {
        //WindowService.DragWindow();
    }

    void MinimizeApp()
    {
        
    }

    void ToggleMaximize()
    {
        

        StateHasChanged();
    }

    void CloseApp()
    {
        
    }

    async Task Logout()
    {
        await ProfileService.Logout();

        NavigationManager.NavigateTo("/Authenticate", true);
    }

    async void Import()
    {
        var config = new MessageConfig()
        {
            Content = "Importing...",
            Duration = 0
        };

        Importing = true;

        var task = MessageService.Loading(config);

        await ImportService.ImportAsync();

        task.Start();

        Importing = true;
    }
}