@using LANCommander.Client.Models
@using System.Diagnostics
@inject DownloadService DownloadService
@inject SDK.Client Client
@inject GameService GameService

<footer>
    <Popover Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})" OverlayClassName="library-filter" Placement="@Placement.TopLeft">
        <ChildContent>
            <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Filter" Style="position: absolute; left: 8px;" />
        </ChildContent>
        <ContentTemplate>
            <LibraryItemFilter />
        </ContentTemplate>
    </Popover>

    @if (DownloadService.Queue.Any(qi => qi.State))
    {
        <div class="downloader" @onclick="() => ShowDownloadQueue()">
            <CurrentDownloadItem ShowIcon="true" />
        </div>
    }
    else
    {
        <Button Type="@ButtonType.Text" Icon="@IconType.Outline.Download" OnClick="() => ShowDownloadQueue()">Downloads</Button>
    }
</footer>

<DownloadQueue @bind-Visible="@DownloadQueueVisible" />

@code {
    bool DownloadQueueVisible = false;

    protected override async Task OnInitializedAsync()
    {
        DownloadService.OnQueueChanged += async () =>
        {
            await InvokeAsync(StateHasChanged);
        };
    }

    async Task ShowDownloadQueue()
    {
        DownloadQueueVisible = true;
    }
}
