@page "/Games/{id:guid}"
@page "/Games/Add"
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]
@inject GameService GameService
@inject CompanyService CompanyService
@inject GenreService GenreService
@inject PlatformService PlatformService
@inject TagService TagService
@inject EngineService EngineService
@inject CollectionService CollectionService
@inject RedistributableService RedistributableService
@inject IMessageService MessageService
@inject NavigationManager NavigationManager
@inject ModalService ModalService
@inject ILogger<General> Logger

<GameEditView Id="Id">
    <TitleTemplate>
        @if (context.Id == Guid.Empty)
        {
            <Text>Add New Game</Text>
        }
        else
        {
            <Text>General</Text>
        }
    </TitleTemplate>
    <TitleExtraTemplate>
        <Space Direction="DirectionVHType.Horizontal">
            @if (context != null && context.Id != Guid.Empty)
            {
                <SpaceItem>
                    <Dropdown Trigger="@(new Trigger[] { Trigger.Click })" OnClick='e => { Console.WriteLine("Dropdown button clicked."); }'>
                        <Overlay>
                            <Menu>
                                <MenuItem>
                                    <a href="/Games/@(context.Id)/Export/Full" target="_blank">Full</a>
                                </MenuItem>
                                <MenuItem>
                                    <a href="/Games/@(context.Id)/Export/Metadata" target="_blank">Metadata</a>
                                </MenuItem>
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <Button>Export</Button>
                        </ChildContent>
                    </Dropdown>

                </SpaceItem>
            }
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="() => Save(context)">Save</Button>
            </SpaceItem>
        </Space>
    </TitleExtraTemplate>

    <ChildContent>
        <Form Model="@context" Layout="@FormLayout.Vertical" Context="formContext">
            <FormItem Label="Title">
                <GameMetadataLookup ButtonText="Lookup" @bind-Value="context.Title" OnResultSelected="(result) => OnGameLookupResultSelected(result, context)" />
            </FormItem>
            <FormItem Label="Sort Title">
                <Input @bind-Value="@context.SortTitle" />
            </FormItem>
            <FormItem Label="Notes">
                <TextArea @bind-Value="@context.Notes" MaxLength=2000 ShowCount />
            </FormItem>
            <FormItem Label="Description">
                <TextArea @bind-Value="@context.Description" />
            </FormItem>
            <FormItem Label="Engine">
                <Select TItem="Engine"
                        TItemValue="Guid?"
                        DataSource="@Engines.OrderBy(e => e.Name)"
                        @bind-Value="@context.EngineId"
                        LabelName="Name"
                        ValueName="Id"
                        Placeholder="Select an Engine"
                        DefaultActiveFirstOption="false"
                        EnableSearch />
            </FormItem>
            <FormItem Label="Type">
                <Select @bind-Value="@context.Type" TItem="GameType" TItemValue="GameType" DataSource="Enum.GetValues<GameType>()">
                    <LabelTemplate Context="Value">@Value.GetDisplayName()</LabelTemplate>
                    <ItemTemplate Context="Value">@Value.GetDisplayName()</ItemTemplate>
                </Select>
            </FormItem>
            @if (context.Type != GameType.MainGame)
            {
                <FormItem Label="Base Game">
                    <Select TItem="Game"
                            TItemValue="Guid?"
                            DataSource="@Games.OrderBy(g => String.IsNullOrWhiteSpace(g.SortTitle) ? g.Title : g.SortTitle)"
                            @bind-Value="@context.BaseGameId"
                            LabelName="Title"
                            ValueName="Id"
                            Placeholder="Select a Game"
                            DefaultActiveFirstOption="false"
                            EnableSearch>
                        <ItemTemplate Context="baseGame">
                            <Image Src="@GetIcon(baseGame)" Height="32" Width="32" Preview="false"></Image>
                            @baseGame.Title
                        </ItemTemplate>
                    </Select>
                </FormItem>
            }
            <FormItem Label="Key Allocation Method">
                <Select @bind-Value="@context.KeyAllocationMethod" TItem="KeyAllocationMethod" TItemValue="KeyAllocationMethod" DataSource="Enum.GetValues<KeyAllocationMethod>()">
                    <LabelTemplate Context="Value">@Value.GetDisplayName()</LabelTemplate>
                    <ItemTemplate Context="Value">@Value.GetDisplayName()</ItemTemplate>
                </Select>
            </FormItem>
            <FormItem Label="Released On">
                <DatePicker TValue="DateTime?" @bind-Value="@context.ReleasedOn" Picker="@DatePickerType.Date" />
            </FormItem>
            <FormItem Label="Singleplayer">
                <Checkbox @bind-Checked="@context.Singleplayer" />
            </FormItem>
            <FormItem Label="Developers">
                <TagsInput Entities="Companies" @bind-Values="context.Developers" OptionLabelSelector="c => c.Name" TItem="Company" />
            </FormItem>
            <FormItem Label="Publishers">
                <TagsInput Entities="Companies" @bind-Values="context.Publishers" OptionLabelSelector="c => c.Name" TItem="Company" />
            </FormItem>
            <FormItem Label="Platforms">
                <TagsInput Entities="Platforms" @bind-Values="context.Platforms" OptionLabelSelector="c => c.Name" TItem="Platform" />
            </FormItem>
            <FormItem Label="Genres">
                <TagsInput Entities="Genres" @bind-Values="context.Genres" OptionLabelSelector="c => c.Name" TItem="Genre" />
            </FormItem>
            <FormItem Label="Tags">
                <TagsInput Entities="Tags" @bind-Values="context.Tags" OptionLabelSelector="c => c.Name" TItem="Data.Models.Tag" />
            </FormItem>
            <FormItem Label="Collections">
                <TagsInput Entities="Collections" @bind-Values="context.Collections" OptionLabelSelector="c => c.Name" TItem="Collection" />
            </FormItem>
            <FormItem Label="Redistributables">
                <TransferInput LeftTitle="Available" RightTitle="Selected" DataSource="Redistributables" TitleSelector="r => r.Name" @bind-Values="context.Redistributables" />
            </FormItem>
        </Form>
    </ChildContent>
</GameEditView>

@code {
    [Parameter] public Guid Id { get; set; }

    bool Loaded = false;
    bool Success;
    string[] Errors = { };

    IEnumerable<Engine> Engines = new List<Engine>();
    IEnumerable<Company> Companies = new List<Company>();
    IEnumerable<Genre> Genres = new List<Genre>();
    IEnumerable<Platform> Platforms = new List<Platform>();
    IEnumerable<Data.Models.Tag> Tags = new List<Data.Models.Tag>();
    IEnumerable<Collection> Collections = new List<Collection>();
    IEnumerable<Redistributable> Redistributables = new List<Redistributable>();
    IEnumerable<TransferItem> RedistributableTargetItems = new List<TransferItem>();
    IEnumerable<string> TargetRedistributables = new List<string>();
    IEnumerable<Game> Games = new List<Game>();

    private GameMetadataLookup? GameMetadataLookup;

    private Settings Settings = SettingService.GetSettings();

    protected override async Task OnParametersSetAsync()
    {
        if (!Loaded)
            await LoadData();
    }

    private async Task LoadData()
    {
        Engines = await EngineService.Get();
        Companies = await CompanyService.Get();
        Genres = await GenreService.Get();
        Platforms = await PlatformService.Get();
        Tags = await TagService.Get();
        Collections = await CollectionService.Get();
        Games = await GameService.Get(g => g.Type == GameType.MainGame);
        Redistributables = await RedistributableService.Get();
        RedistributableTargetItems = Redistributables.Select(r => new TransferItem
        {
            Title = r.Name,
            Description = r.Description,
            Key = r.Id.ToString()
        });

        Loaded = true;
    }

    private async Task Save(Game game)
    {
        try
        {
            if (game.Id != Guid.Empty)
            {
                game = await GameService.Update(game);

                await MessageService.Success("Game updated!");
            }
            else
            {
                game = await GameService.Add(game);

                NavigationManager.LocationChanged += NotifyGameAdded;

                NavigationManager.NavigateTo($"/Games/{game.Id}");
            }
        }
        catch (Exception ex)
        {
            MessageService.Error("Could not save game!");
            Logger.LogError(ex, "Could not save game!");
        }
    }

    private void NotifyGameAdded(object? sender, LocationChangedEventArgs e)
    {
        NavigationManager.LocationChanged -= NotifyGameAdded;

        MessageService.Success("Game added!");
    }

    private async Task OnGameLookupResultSelected(GameLookupResult result, Game game)
    {
        var categoryMap = new Dictionary<IGDB.Models.Category, GameType>()
        {
            { IGDB.Models.Category.MainGame, GameType.MainGame },
            { IGDB.Models.Category.Expansion, GameType.Expansion },
            { IGDB.Models.Category.StandaloneExpansion, GameType.StandaloneExpansion },
            { IGDB.Models.Category.Mod, GameType.Mod }
        };

        game.IGDBId = result.IGDBMetadata.Id.GetValueOrDefault();
        game.Title = result.IGDBMetadata.Name;
        game.Description = result.IGDBMetadata.Summary;
        game.ReleasedOn = result.IGDBMetadata.FirstReleaseDate.GetValueOrDefault().UtcDateTime;
        game.MultiplayerModes = result.MultiplayerModes.ToList();
        game.Developers = new List<Company>();
        game.Publishers = new List<Company>();
        game.Genres = new List<Genre>();
        game.Tags = new List<Data.Models.Tag>();

        if (result.IGDBMetadata.ParentGame != null && result.IGDBMetadata.ParentGame.Id.HasValue)
        {
            var baseGame = await GameService.FirstOrDefault(g => g.IGDBId == result.IGDBMetadata.ParentGame.Id);

            if (baseGame != null)
                game.BaseGameId = baseGame.Id;
        }

        if (result.IGDBMetadata.GameEngines != null && result.IGDBMetadata.GameEngines.Values != null)
        {
            var engineMetadata = result.IGDBMetadata.GameEngines.Values.FirstOrDefault();

            var engine = await EngineService.AddMissing(e => e.Name == engineMetadata.Name, new Engine { Name = engineMetadata.Name });

            if (!engine.Existing)
                Engines = await EngineService.Get();

            game.Engine = engine.Value;
            game.EngineId = engine.Value.Id;
        }

        if (categoryMap.Keys.Contains(result.IGDBMetadata.Category.GetValueOrDefault()))
            game.Type = categoryMap[result.IGDBMetadata.Category.GetValueOrDefault()];

        if (result.IGDBMetadata.GameModes != null && result.IGDBMetadata.GameModes.Values != null)
            game.Singleplayer = result.IGDBMetadata.GameModes.Values.Any(gm => gm.Name == "Single player");

        if (result.IGDBMetadata.InvolvedCompanies != null && result.IGDBMetadata.InvolvedCompanies.Values != null)
        {
            // Make sure companie
            var developers = result.IGDBMetadata.InvolvedCompanies.Values.Where(c => c.Developer.GetValueOrDefault()).Select(c => c.Company.Value.Name);
            var publishers = result.IGDBMetadata.InvolvedCompanies.Values.Where(c => c.Publisher.GetValueOrDefault()).Select(c => c.Company.Value.Name);

            foreach (var developer in developers)
            {
                var company = await CompanyService.AddMissing(c => c.Name == developer, new Company { Name = developer });

                if (!company.Existing)
                    Companies = await CompanyService.Get();

                game.Developers.Add(company.Value);
            }

            foreach (var publisher in publishers)
            {
                var company = await CompanyService.AddMissing(c => c.Name == publisher, new Company { Name = publisher });

                if (!company.Existing)
                    Companies = await CompanyService.Get();

                game.Publishers.Add(company.Value);
            }
        }

        if (result.IGDBMetadata.Genres != null && result.IGDBMetadata.Genres.Values != null)
        {
            var genres = result.IGDBMetadata.Genres.Values.Select(g => g.Name);

            foreach (var genre in genres)
            {
                var genreEntity = await GenreService.AddMissing(g => g.Name == genre, new Genre { Name = genre });

                if (!genreEntity.Existing)
                    Genres = await GenreService.Get();

                game.Genres.Add(genreEntity.Value);
            }
        }

        if (result.IGDBMetadata.Keywords != null && result.IGDBMetadata.Keywords.Values != null)
        {
            var tags = result.IGDBMetadata.Keywords.Values.Select(t => t.Name);

            foreach (var tag in tags)
            {
                var tagEntity = await TagService.AddMissing(t => t.Name == tag, new Data.Models.Tag { Name = tag });

                if (!tagEntity.Existing)
                    Tags = await TagService.Get();

                game.Tags.Add(tagEntity.Value);
            }
        }
    }

    private string GetIcon(Game game)
    {
        var media = game?.Media?.FirstOrDefault(m => m.Type == SDK.Enums.MediaType.Icon);

        if (media != null)
            return $"/api/Media/{media.Id}/Download?fileId={media.FileId}";
        else
            return "/favicon.ico";
    }

    private async Task Delete(Game game)
    {
        Games = new List<Game>();

        try
        {
            await GameService.Delete(game);
        }
        catch (Exception ex)
        {
            MessageService.Error($"Could not delete the {game.Type.GetDisplayName().ToLower()}!");
            Logger.LogError(ex, $"Could not delete the {game.Type.GetDisplayName().ToLower()}!");
        }
    }
}
